<header class="navbar navbar-expand-lg fixed-top">
    <nav class="container-fluid">
            <div class="navbar-brand"><strong><a class="logo" href="">Le secret de Loli</a></strong></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item nav">
                        <a class="nav-link active" aria-current="page" href="#">Le blog</a>
                    </li>
                    <li class="nav-item nav">
                        <a class="nav-link" href="#">Les produits</a>
                    </li>
                    <li class="nav-item nav">
                        <a class="nav-link" href="#">Qui sommes-nous ?</a>
                    </li>
                    <li class="nav-item nav">
                        <a class="nav-link" href="#">Nous contacter</a>
                    </li>    
                </ul>
                <ul>
                    {% if app.user %}
                    <li class="nav-item nav dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Bonjour {{ app.user.firstname }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if "ROLE_ADMIN" in app.user.roles %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_account') }}">
                                    <img src="{{ asset('assets/svg/account.svg') }}" alt="Mon compte">
                                    Administration
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="{{ asset('assets/svg/account.svg') }}" alt="Mon compte">
                                    Mon compte
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="{{ asset('assets/svg/logout.svg') }}" alt="Déconnexion">
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Escpace client
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">
                                    <img src="{{ asset('assets/svg/login.svg') }}" alt="Se connecter">
                                    Se connecter
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="{{ asset('assets/svg/register.svg') }}" alt="Inscription">
                                    S'inscrire
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class=" nav"><img src="{{ asset('assets/svg/cart.svg') }}" alt=""><p class="count-cart">3</p></li>
                </ul>
            </div>
    </nav>
</header>