{% extends 'base.html.twig' %}

{% block title %}{{ product.product.title }}{% endblock %}

{% block body %}
    {# Fil d'Ariane de la page #}
    <div class="col-md-11 auto mt-2">
        <small class="text-primary">
            <a href="{{ path('app_home') }}">Le secret de Loli</a> / 
            <a href="/categorie/{{ product.product.idCategory.slug }}"> {{ product.product.idCategory.title }} </a> /
            <a href=""> {{ product.product.title }} </a>
        </small>
    </div>
    
    <div class="center-block col-md-11 auto mt-5 show-product-block">
        <div class="row mb-5">
            {# Partie Affichant les images - colonne de gauche#}
            <div class="col-md-5">
                <div class="text-center">
                    <img 
                        id="show-product-primary-image" 
                        class="img-thumbnail" 
                        alt="{{ product.product.title }}"
                        src="/uploads/images/others/{{ product.product.image }}"
                        alt="{{ product.product.title }}"
                    >
                </div>
                <div class="row mt-3 justify-content-between">
                    <div class="col-md-3">
                        {% if product.product.image != "" %}
                            <img 
                                id="show-product-image" 
                                class="img-thumbnail image-secondary-product"
                                src="/uploads/images/others/{{ product.product.image }}"
                                alt="{{ product.product.title }}"
                            >
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if product.product.image2 != "" %}
                            <img 
                                id="show-product-image2" 
                                class="img-thumbnail image-secondary-product"
                                src="/uploads/images/others/{{ product.product.image2 }}"
                                alt="{{ product.product.title }}"
                            >
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if product.product.image3 != "" %}
                            <img 
                                id="show-product-image3" 
                                class="img-thumbnail image-secondary-product"
                                src="/uploads/images/others/{{ product.product.image3 }}"
                                alt="{{ product.product.title }}"
                            >
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if product.product.image4 != "" %}
                            <img 
                                id="show-product-image4" 
                                class="img-thumbnail image-secondary-product"
                                src="/uploads/images/others/{{ product.product.image4 }}"
                                alt="{{ product.product.title }}"
                            >
                        {% endif %}
                    </div>
                </div>
            </div>

            {# Partie Affichant le détails produits - colonne du centre  #}
            <div class="col-md-5">
                {# Partie affichant le titre du produit et de la référence en lecture plus les avis #}
                <div id="product-head">
                    <h1 class="h2 text-start text-dark"> {{ product.product.title }} - {{ product.subTitle }} </h1>
                    <div class="row justify-content-start">
                        <div class="col-md-3 text-warning">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="col-md-5 text-dark">
                            <a href="">10 commentaires</a>
                        </div>
                    </div>
                </div>

                <hr>

                {# Partie affichant le prix #}
                <div id="product-price" class="row justify-content-between mt-3">
                    <div class="col-md-5">
                        <p class="text-dark">
                            <span class="align-top">Prix : </span> 
                            <b class="h3 mx-2 text-primary">{{ (product.product.price / 100)|number_format(2, ',', '.') }} €</b>
                            <br>
                            <small class="mx-2 text-danger">Dont 20% de TVA inclus</small>
                        </p>
                        
                    </div>
                    <div class="col-md-5">
                        <p class="badge bg-primary">Disponnible</p>
                    </div>
                </div>

                {# Partie listant les rédérences associées #}
                {% if (products|length > 1) %}
                    <div id="associate-reference" class="mt-4">
                        {% for reference in products %}
                            <a href="/produit/{{ product.product.idCategory.slug }}/{{ product.product.slug }}/{{ reference.reference }}" class="btn btn-outline-secondary d-inline">{{reference.subTitle}}</a>
                        {% endfor %}
                    </div>
                {% endif %}

                <hr>
                {# Formulaire d'ajout au panier #}
                <div>
                    {{ form_start(addCard) }}
                        <div class="row align-items-end">
                            <div class="col-md-3">
                                {{ form_row(addCard.quantity) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_row(addCard.submit) }}
                            </div>
                        </div>
                    {{ form_end(addCard) }}
                </div>

                {# Déscription du produit et de la référence #}
                <div id="product-description" class="product_desciption text-dark mt-5">
                    {{ product.product.description|raw }}
                    {{ product.subDescription|raw }}
                </div>
            </div>

            {# Partie récapitulatif du panier en cours - colonne de droite #}
            <div class="col-md-2 card-summary border border-2 border-grey rounded">
                <h2 class="text-primary text-center">Mon panier</h2>
                {% set some = 0 %}
                {% for card in sessionCard %}
                    <div class="border-bottom border-1 border-primary m-2 p-1">
                        <p>{{ card.title|slice(0, 100) }}</p>
                        <p class="row">
                            <small class="col-6">Qte <b>{{ card.quantity }}</b></small>
                            <b class="col-6 text-danger">{{ (card.price * card.quantity)|number_format(2) }} €</b>
                        </p>
                    </div>
                    {% set some = some + (card.price * card.quantity) %}
                {% endfor %}
                <div>
                    <p class="fw-bold">Total : <span class="float-end text-danger h4">{{ some|number_format(2) }} €</span></p>

                    <a href="{{ path('app_cart_sumary') }}" class="btn btn-primary w-100 mt-4">Passer commande</a>

                </div>
            </div>
        </div>

        <hr>
        
        {# Partie listant les produits de la catégories #}
        <div class="mt-5 pt-3">
            <h2 class="text-dark">Nos produits associées</h2>
            <div class="row mt-4">
                {% set articleLayout = 'col-6 col-md-2' %}
                {% include 'partials/article.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}




